# Deutsche Bahn keys (In Deutschland studieren)
DB_CLIENT_ID = "12345"
DB_CLIENT_SECRET = "12345"

# Django Secret key
DJANGO_SECRET_KEY = "12345"

# Supabase secret key and url
DATABASE_SECRET_KEY = "12345"
DATABASE_URL_FORMAT = "postgresql://postgres:{DATABASE_SECRET_KEY}@db.yldqpganugrxftqvrwmk.supabase.co:5432/postgres"

# Vercel and Render services
FRONTEND_URL = "https://notiz-von-ente.vercel.app"
BACKEND_URL = "https://vgu-study-in-germany.onrender.com"
